*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Inter;
}

/* CLEAN WHITE BANK STYLE */
body{
  background:#f4f6f9;
  color:#111;
}

/* TOPBAR */
.topbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;

  background:#16a34a;
  color:white;
}

.brand{
  font-weight:700;
}

.actions button{
  background:white;
  border:none;
  padding:8px 12px;
  border-radius:8px;
  cursor:pointer;
}

/* LAYOUT */
.layout{
  display:flex;
}

/* SIDEBAR */
.sidebar{
  width:220px;
  background:white;
  height:100vh;
  border-right:1px solid #ddd;
  padding:15px;
  transition:0.3s;
}

.sidebar.hide{
  width:70px;
}

/* NAV */
.nav{
  display:block;
  padding:12px;
  margin:8px 0;
  text-decoration:none;
  color:#333;
  border-radius:8px;
}

.nav:hover{
  background:#eafff0;
}

.active{
  background:#16a34a;
  color:white;
}

/* MAIN */
.main{
  flex:1;
  padding:20px;
}

/* CARDS */
.cards{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
}

.card{
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

/* PROFIT */
.profit{
  background:#16a34a;
  color:white;
}

/* CHART */
.chartBox{
  margin-top:25px;
  background:white;
  padding:20px;
  border-radius:12px;
  box-shadow:0 2px 10px rgba(0,0,0,0.05);
}
